---
title: Bildergalerie
---

<h1 class="header">Bildergalerie</h1>
<div id="slider">
  <a href="#image1">1</a>
  <a href="#image2">2</a>
</div>

<div id="images">
  <img id="image1" src="img/galerie/asteroid.jpg" />
  <img id="image2" src="img/galerie/mars.jpg" />
</div>
