---
title: Aktuelles
---

<h1 class="header">Alle aktuelle News im Überblick</h1>

<h2>17.02.2017</h2>

<p>18:00</p>
<p>Wir sind Sterne - 3DEine magische Reise durch Raum und Zeit.
  Planetarium Hamburg</p>

<h2>18.02.2017</h2>

<p>13:00</p>
<p>Polaris und das Rätsel der PolarnachtEine unterhaltsame Entdeckungsreise</p>


<h2>21.02.2017</h2>

<p>10:00</p>
<p>Kleiner Stern im großen All</p>
<p>Planetarium Hamburg</p>

<p>11:00</p>
<p>Im Nachtflug durch die GalaxisGanz nah dran an fernen Sternen
  Planetarium Hamburg</p>

