---
title: Latest
---

<h1>Alle aktuelle News im Überblick</h1>

17.02.2017

18:00
Wir sind Sterne - 3DEine magische Reise durch Raum und Zeit.
Planetarium Hamburg

18.02.2017

13:00
Polaris und das Rätsel der PolarnachtEine unterhaltsame Entdeckungsreise


21.02.2017

10:00
Kleiner Stern im großen All
Planetarium Hamburg

11:00
Im Nachtflug durch die GalaxisGanz nah dran an fernen Sternen
Planetarium Hamburg

